h1{
background-color:#FAEBD7;
color:#black;
font-size:3em;
}
p.fancy{
background-color:#black;
color:#DarkOrange;
font-style:oblique;
}
body {background-color: DarkMagenta;}
th {background-color: white; color: coral;}
td {background-color: salmon; color: black;}
table {width= 80%; boarder= 1px solid black;}
table, th, td {
  border: 2px solid black; 
}
